# Git ignore file - this file defines files to not be added to the repository

# Components installed / written as part of this library
bower_components/
node_modules/
components/

# Sass cache not included
.sass-cache

# Sublime project files
*.sublime-project
*.sublime-workspace