# Git ignore file - this file defines files to not be added to the repository

# Components installed / written as part of this library
bower_components/
components/
node_modules/

# Sublime project files
*.sublime-project
*.sublime-workspace

# development tools / resources
.sass-cache/
css/
gulpfile.js
#index.html